<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8">
    <title>Poke Geek</title>
    <script src="../node_modules/angular/angular.js" type="text/javascript"></script>
    <script src="../node_modules/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="../node_modules/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="../node_modules/pouchdb/dist/pouchdb.js"></script>
    <script src="../node_modules/angular-pouchdb/dist/angular-pouchdb.js"></script>
    <script src="../node_modules/pouchdb-find/dist/pouchdb.find.js"></script>
    <script src="./js/liturgieApp.js" type="text/javascript"></script>
    <script src="./js/database.js" type="text/javascript"></script>
    <script src="./js/liturgie.js" type="text/javascript"></script>
    <script src="./js/typeAhead.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/app.css" />
  </head>

  <body>

    <div class="container-fluid" ng-app="liturgieApp">

      <div class="row" ng-controller="LiturgieController">
        <div class="col-md-4">
          <form name="rawInputForm" class="css-form" novalidate>
            <div class="form-group">
              <h4>Volledige liturie</h4>
              <textarea ng-model="rawInput" rows="15" class="form-control" placeholder="Plak hier de volledige liturgie"></textarea>
            </div>
            <input type="submit" ng-click="copyRawInput(rawInput)" value="Inlezen" />
            <span ng-show="rawInputError" class="alert alert-info" ng-bind="rawInputError"></span>
          </form>
        </div>
        <div class="col-md-4">
          <h4>Afzonderlijke onderdelen</h4>
          <form name="regelForm" class="css-form" novalidate>
            <div ng-repeat="onderdeel in onderdelen track by $index">
              <div class="form-group has-feedback">
                <div class="{{ onderdeel.class }}">
                   <!--class="input-group"-->
                  <span class="input-group-addon">
                    <i class="fa {{onderdeel.icon}}"></i>
                  </span>
                  <input
                    ng-model="onderdeel.regel"
                    name="onderdeel{{$index}}"
                    id="{{$index}}"
                    type="text"
                    class="form-control"
                    ng-change="manageInputs($index, onderdeel)"
                    placeholder="begin met typen"
                    uib-typeahead="item for item in items | filter:$viewValue | limitTo:8"
                    typeahead-on-select="manageInputs($index, onderdeel)"
                    ng-controller="TypeAheadController"
                  >
                  <span ng-show="regelForm.onderdeel{{$index}}.valid && regelForm.onderdeel{{$index}}.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span ng-show="regelForm.onderdeel{{$index}}.invalid && regelForm.onderdeel{{$index}}.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-success" ng-disabled="regelForm.$invalid">Verstuur</button>
            </div>
          </form>
        </div>
        
        <div class="col-md-4">
          <h4>Resultaat</h4>
          <table class="table table-striped">
            <tr ng-repeat="onderdeel in onderdelen">
              <td ng-show="onderdeel.valid">
                <h4 ng-bind="onderdeel.regel"></h4>
                <div ng-repeat="document in onderdeel.documents">
                  <div ng-show="document.text">
                    <strong>
                      <span ng-bind="document.verse"></span>
                    </strong>
                    <div ng-bind="document.text"></div>
                  </div>
                  <div ng-show="document.note"><hr /><i><span ng-bind="document.note"></span></i></div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </body>

</html>
