<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8">
    <title>Poke Geek</title>
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    
    <script src="../node_modules/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="../node_modules/jqueryui/jquery-ui.js" type="text/javascript"></script>
    <script src="../node_modules/angular/angular.js" type="text/javascript"></script>
    <script src="../node_modules/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="../node_modules/angular-resource/angular-resource.js" type="text/javascript"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="../node_modules/pouchdb/dist/pouchdb.js"></script>
    <script src="../node_modules/angular-pouchdb/dist/angular-pouchdb.js"></script>
    <script src="../node_modules/pouchdb-find/dist/pouchdb.find.js"></script>
    <script src="../node_modules/angular-ui-sortable/dist/sortable.js" type="text/javascript"></script>
    <script src="./js/liturgieApp.js" type="text/javascript"></script>
    <script src="./js/databaseFactory.js" type="text/javascript"></script>
    <script src="./js/liturgieFactory.js" type="text/javascript"></script>
    <script src="./js/controllers/rawInputController.js" type="text/javascript"></script>
    <script src="./js/controllers/inputController.js" type="text/javascript"></script>
    <script src="./js/controllers/previewController.js" type="text/javascript"></script>
    <script src="./js/controllers/accordionController.js" type="text/javascript"></script>
    <script src="./js/typeAhead.js" type="text/javascript"></script>
    <script src="./js/grabbers/levensliederenController.js" type="text/javascript"></script>
    <script src="./js/grabbers/bijbelController.js" type="text/javascript"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/app.css" />
  </head>

  <body>

    <div class="container-fluid" ng-app="liedbase">

      <div class="row">
        <div class="col-md-3">
          <p />
          <div ng-controller="AccordionController">
            <uib-accordion close-others="false">
              <div uib-accordion-group class="panel-default" is-open="status.tekstinvoer.open">
                <uib-accordion-heading>Tekstinvoer <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tekstinvoer.open, 'glyphicon-chevron-right': !status.tekstinvoer.open}"></i></uib-accordion-heading>
                <div ng-controller="RawInputController">
                  <form name="rawInputForm" class="css-form" novalidate>
                    <div class="form-group">
                      <h4>Volledige liturie</h4>
                      <textarea ng-model="rawInput" rows="15" class="form-control" placeholder="Plak hier de volledige liturgie"></textarea>
                    </div>
                    <input type="submit" ng-click="copyRawInput(rawInput)" value="Inlezen" />
                    <span ng-show="rawInputError" class="alert alert-info" ng-bind="rawInputError"></span>
                  </form>
                </div>
              </div>
              <div uib-accordion-group class="panel-default" is-open="status.opties.open">
                <uib-accordion-heading>Opties <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.opties.open, 'glyphicon-chevron-right': !status.opties.open}"></i></uib-accordion-heading>
                <div ng-controller="BijbelController">
                  <button ng-click="grab()">Vul database met bijbelboeken</button>
                </div>
                <div ng-controller="LevensliederenController">
                  <button ng-click="grab()">Vul database met levensliederen</button>
                </div>
              </div>
            </uib-accordion>
          </div>
        </div>

        <div class="col-md-4" ng-controller="InputController">
          <h4>Afzonderlijke onderdelen</h4>
          <form name="regelForm" class="css-form" novalidate>
            <ul ui-sortable ng-model="liturgie">
              <li ng-repeat="onderdeel in liturgie track by $index">
                <div class="form-group has-feedback">
                  <div class="{{ onderdeel.class }}">
                    <!--class="input-group"-->
                    <span class="input-group-addon">
                      <i class="fa {{onderdeel.icon}}"></i>
                    </span>
                    <input
                      ng-model="onderdeel.regel"
                      name="onderdeel{{$index}}"
                      id="{{$index}}"
                      type="text"
                      ng-change="inputChanged($index)"
                      class="form-control"
                      placeholder="begin met typen"
                      uib-typeahead="item for item in items | filter:$viewValue | limitTo:8"
                      typeahead-on-select="manageInputs($index, onderdeel)"
                      ng-controller="TypeAheadController"
                    >
                    <span ng-show="regelForm.onderdeel{{$index}}.valid && regelForm.onderdeel{{$index}}.$dirty" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-show="regelForm.onderdeel{{$index}}.invalid && regelForm.onderdeel{{$index}}.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>
              </li>
            </ul>
            <!--<div>
              <button type="submit" class="btn btn-success" ng-disabled="regelForm.$invalid">Verstuur</button>
            </div>-->
          </form>
        </div>
        
        <div class="col-md-5" ng-controller="PreviewController">
          <h4>Resultaat</h4>
          <p>
            <button class="btn btn-success" ng-click="generate()">Genereer PPTX</button>
          </p>
          <table class="table table-striped">
            <tr ng-repeat="onderdeel in liturgie track by $index">
              <td ng-show="onderdeel.valid">
                <h3 ng-bind="onderdeel.regel"></h3>
                <div ng-bind-html="getHtml(onderdeel)"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </body>

</html>
